DJANGO_SETTINGS_MODULE=config.settings.development
DJANGO_SECRET_KEY=change-this-in-production-to-a-secure-random-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_URL=postgres://focusflow_user:focusflow_password@127.0.0.1:5434/focusflow_dev
REDIS_URL=redis://127.0.0.1:6380/0
CELERY_BROKER_URL=redis://127.0.0.1:6380/1
