DJANGO_SETTINGS_MODULE=config.settings.development
DJANGO_SECRET_KEY=replace-this-with-a-long-random-secret
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=focusflow
POSTGRES_USER=focusflow
POSTGRES_PASSWORD=focusflow
DB_HOST=localhost
DB_PORT=5432

CELERY_BROKER_URL=redis://localhost:6379/0
